---
import { formatDate } from "@/lib/utils";
import Link from "./Link.astro"
import { Image } from 'astro:assets';
// import { Image } from "@unpic/astro";

const { data, mainSlug } = Astro.props

---

<style lang="scss">
  @use "@/styles/globalVariables" as *;
  span {
    color: var(--color-background-contrast);
    font-size: 0.75rem;
    line-height: 1;
    display: inline-block;
    border-bottom-right-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
    &::before {
      content: "";
      width: 100%;
      height: 10px;
      background-color: inherit;
      filter: brightness(0.5);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      transform-origin: top left;
      transform: skew(-20deg);
    }
    @each $type, $color in $category-colors {
        &.#{$type} {
          background-color: var(#{$color});
        }
      }
  }

  img {
    transition-duration: var(--time-long);
    a:hover & {
      transform: scale(1.1);
    }
  }
</style>

<Link href={mainSlug} class="nodecoration rounded-md overflow-hidden relative">
  <Image src={data.cover || data.thumbnail} alt="" style={{ aspectRatio: 1.5, objectFit: 'cover' }} width="800" />
  <div class="bg-[var(--color-background-contrast)] p-3 relative min-h-[95.63px]">
    <div class="text-xs opacity-70">{formatDate(data.date)}</div>
    <div class="font-heading text-lg leading-tight">{data.title}</div>
    <!-- categories -->
    <div class="absolute z-10 right-0 top-0 -translate-x-4 -translate-y-[10px] leading-none flex gap-2">
      {data.categories.map((category: string) => (
        <span class={`${category} relative`}>{category}</span>
      ))}
    </div>
  </div>
</Link>