---
import { getText } from '@/lib/lang';
import { getLocale } from 'astro-i18n-aut';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { marked } from 'marked';
import { getItem } from '@/lib/utils';
import 'swiper/css';
import Link from './Link.astro';

const lang = getLocale(Astro.url)
const projects = await (getCollection('projects').then(projects => projects.sort((a, b) => a.data.year - b.data.year)))

const markedDescriptions: Record<string, { th: string, en: string }> = {}

await Promise.all(projects.map(async (project) => {
  markedDescriptions[project.data.id] = {
    th: await marked.parse(project.data.description.th),
    en: await marked.parse(project.data.description.en),
  };
}));

const tech = await getCollection('tech')

---



<div class="swiper full-width">
  <div class="swiper-wrapper">
  {
    projects.map((project) => (
      <div
        class={`
          swiper-slide !grid border border-[var(--color-background)] bg-[var(--color-background-contrast)] rounded-2xl overflow-hidden
          grid-cols-1 grid-rows-[250px_250px] !w-[400px] max-w-[90vw] !h-[500px]
          md:grid-cols-2 md:grid-rows-1 md:!w-[600px] md:!h-[400px]
        `}
      >
        <Image
          src={project.data.image}
          alt={project.data.title}
          width="400"
          height="400"
          class={`object-cover h-full w-full`}
          style={{
            objectFit: project.data.imageFit || 'cover'
          }}
        />
        <div class="p-4 flex flex-col">
          <div class="flex-grow">
            <div class="mt-4 md:mt-16">
              <h2 class="mb-0">
                <Link href={project.data.url} class="font-heading text-xl text-heading font-bold">
                  {project.data.title}
                </Link>
              </h2>
              <div class="text-sm text-text opacity-50">
                {project.data.year}
                {
                  project.data.workInProgress && "(Work in progress)"
                }
              </div>
            </div>
            <div set:html={getText(lang, markedDescriptions[project.data.id])} />
            {
              project.data.npm && (
                <Link href={`https://www.npmjs.com/package/${project.data.npm}`}>
                  <img
                    src={`https://img.shields.io/npm/v/${project.data.npm}`} 
                    alt="npm"
                    class=""
                  />
                </Link>
              )
            }
          </div>
          {project.data.tech &&
            <div class="flex flex-wrap gap-1">
            {
              project.data.tech.map((t) => {
                const techEntry = getItem(tech, t.id)
                return (
                  <img
                    src={`https://img.shields.io/badge/${techEntry.data.title}-${techEntry.data.color}?logo=${techEntry.data.icon || techEntry.id}&logoColor=white&labelColor=555`} 
                    alt={techEntry.data.title}
                    class=""
                  />
                )
              })
            }
            </div>
          }
        </div>
      </div>
    ))
  }
  </div>
</div>

<script>
  import Swiper from 'swiper';
  // somehow we need this: https://stackoverflow.com/questions/76702448/how-to-connect-swiper-js-to-astro-build-and-make-it-a-component
  import { register } from 'swiper/element/bundle';
  document.addEventListener(
    'astro:page-load',
    () => {
      register();
      new Swiper(".swiper", {
        effect: "coverflow",
        grabCursor: true,
        loop: true,
        centeredSlides: true,
        freeMode: true,
        slidesPerView: "auto",
        mousewheel: {
          forceToAxis: true,
        },
        coverflowEffect: {
          rotate: 30,
          stretch: 0,
          depth: 200,
          modifier: 1,
          scale: 0.95,
          slideShadows: true,
        },
      });
    }
  )
</script>
