---
import Header from '@/components/Header/index.astro';
import Footer from '@/components/Footer/index.astro';
import TitleBlock from '@/components/TitleBlock.astro';
import { ViewTransitions } from 'astro:transitions';
import { getLocale } from "astro-i18n-aut";
import { Image } from 'astro:assets';

import coverImage from '@/images/abstract.png';

interface Props {
  title: string;
  showTitle?: boolean;
  subtitle?: string;
  date?: string;
  cover?: string;
  noSplit?: boolean;
}

const { title, showTitle=true, subtitle, date, cover, noSplit=false } = Astro.props;

import '@/styles/tailwind.css';
import '@/styles/global.scss';
import '@/styles/layout.scss';

---

<html lang={getLocale(Astro.url)}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href={`https://js.api.artt.dev/random-shapes/blobs.svg?numBlobs=2&fill=%23077185,%23D76D07cc&stroke=none&v=${Date.now()}`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <script is:inline data-astro-rerun src="/loadTheme.js" />
    <script is:inline data-astro-rerun src="/loadLang.js" />
    <Header />
    <div id="component-cover-image" class="max-width">
      <Image src={cover || coverImage} alt="" />
    </div>
    <main class:list={["cap-width", {split: !noSplit}]}>
      {showTitle &&
        <TitleBlock
          title={title}
          subtitle={subtitle}
          date={date}
        />
      }
      <div id="content">
        <slot />
      </div>
      <div id="component-after-body">afterbody</div>
      <div>sidebar</div>
    </main>
    <div id="component-spacer" class="spacer" />
    <Footer />
  </body>
</html>
<script src="../scripts/darkmode.js" />