---
import Header from '@components/Header.astro';
import { ViewTransitions } from 'astro:transitions';
import { getLocale } from "astro-i18n-aut";

const { pageTitle } = Astro.props;

import '../styles/global.scss';

---
<html lang={getLocale(Astro.url)}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href={`https://js.api.artt.dev/random-shapes/blobs.svg?numBlobs=2&fill=%23077185,%23D76D07cc&stroke=none&v=${Date.now()}`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <script is:inline data-astro-rerun src="/loadTheme.js" />
    <script is:inline data-astro-rerun src="/loadLang.js" />
    <Header />
    <main class="cap-width pt-[--height-navbar]">
      <h1>{pageTitle}</h1>
      <slot />
    </main>
  </body>
</html>
<script src="../scripts/darkmode.js" />