---
import { getAverageColor } from 'fast-average-color-node';

import Header from '@/components/Header/index.astro';
import Footer from '@/components/Footer.astro';
import TitleBlock from '@/components/TitleBlock.astro';
import { ClientRouter } from 'astro:transitions';
import { getLocale } from "astro-i18n-aut";
import { Image } from 'astro:assets';
import { SEO, type Props as SeoProps } from "astro-seo";
import { getLink } from '@/lib/lang';

import coverImage from '@/images/abstract.png';

import '@/styles/tailwind.css';
import '@/styles/global.scss';
import '@/styles/layout.scss';

interface Props {
  title: string;
  subtitle?: string;
  description?: string;
  date?: string;
  cover?: ImageMetadata;
  noTitle?: boolean;
  noCap?: boolean;
  noSplit?: boolean;
  noCover?: boolean;
  isMdx?: boolean;
  lang?: string;
  isBilingual?: boolean;
}

const { title, subtitle, description=subtitle, date, cover, noTitle=false, noCap=false, noSplit=false, noCover=false, isMdx=false, isBilingual=true } = Astro.props;

const image = cover || coverImage;
const imageUrl = new URL(image.src, Astro.site).href

let localImage: string
if (import.meta.env.MODE === "development") {
  localImage = image.src.replace('/@fs', '').split('?')[0]
}
else {
  localImage = `./dist${image.src}`
}

// TODO: fix this
const coverColor = await getAverageColor(localImage, { algorithm: 'dominant' }).then(color => color.hex);

const lang = getLocale(Astro.url);

const defaultSeoProps: SeoProps = {
  title: title,
  titleTemplate: '%s | artt.dev',
  titleDefault: 'artt.dev',
  charset: 'utf-8',
  description: description,
  // canonical?: URL | string;
  ...(isBilingual && {
    languageAlternates: [
      {
        href: getLink(Astro.url.pathname, lang === "en" ? "th" : "en"),
        hrefLang: lang === "en" ? "th" : "en",
      },
    ],
  }),
  openGraph: {
    basic: {
      title: title,
      type: isMdx ? "article" : "website",
      image: imageUrl,
      url: Astro.url,
    },
    optional: {
      description: description,
      locale: lang,
      ...(isBilingual && {localeAlternate: [lang === "en" ? "th" : "en"]}),
      siteName: "artt.dev",
    },
    image: {
      secureUrl: imageUrl,
      type: image.format,
      width: image.width,
      height: image.height,
      // alt?: string;
    },
    ...(isMdx && {
      article: {
        publishedTime: date,
        // modifiedTime?: string;
        // expirationTime?: string;
        // authors?: string[];
        // section?: string;
        // tags?: string[];
      },
    }),
    // };
  },
  twitter: {
    card: "summary_large_image",
    // site?: string;
    // creator?: string;
    title: title,
    description: description,
    image: imageUrl,
    // imageAlt?: string;
  },
  // extend?: {
  //   link?: Partial<Link>[];
  //   meta?: Partial<Meta>[];
  // };
  // surpressWarnings?: boolean;
}

---

<html lang={getLocale(Astro.url)}>
  <head>
    
    <!-- Google tag (gtag.js) -->
    <script async defer is:inline src="https://www.googletagmanager.com/gtag/js?id=G-QRST7VQ562"></script>
    <script defer is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-QRST7VQ562');
    </script>

    <SEO {...defaultSeoProps} />
    <link rel="icon" href={`https://js.api.artt.dev/random-shapes/blobs.svg?numBlobs=2&fill=%23077185,%23D76D07cc&stroke=none&v=${Date.now()}`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous"> -->
    <!-- <script is:inline defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script> -->
    <!-- <script is:inline defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script> -->
  </head>
  <body>
    <script is:inline data-astro-rerun src="/loadLang.js" />
    <script is:inline data-astro-rerun src="/loadTheme.js" />
    <Header />
    {!noCover &&
      <div id="component-cover-image" class="w-full" style={{ backgroundColor: coverColor }} >
        <Image src={cover || coverImage} alt="" class="mx-auto" />
      </div>
    }
    <main class:list={[{"cap-width": !noCap}, {split: !noSplit}]}>
      {!noTitle &&
        <TitleBlock
          title={title}
          subtitle={subtitle}
          date={date}
        />
      }
      <div id="content" data-is-mdx={isMdx}>
        <slot />
      </div>
      <div id="component-after-body">
        <slot name="after-body" />
      </div>
      <div id="component-sidebar">
        <slot name="sidebar" />
      </div>
    </main>
    <div id="component-spacer" class="spacer" />
    <Footer />
  </body>
</html>
<script src="../lib/darkmode.js" />